<!DOCTYPE html>
<div class="section opensans padding-bottom-30 padding-top-30" style="margin-bottom: 30px;">
  <div class="container">
    <h1 class="fore-bluelight bold">RED DE OFICINAS</h1>
    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="bucaramanga">
        <div class="col-xs-3">
            <img src="img/ubicacion.png" class="ubicacion" />
        </div>
        <div class="col-xs-9 back-gray">

            <b>BUCARAMANGA</b>
            <p class="text-justify"> Tel: 6915342– 317 437 5730<br>
              Km. 2 Anillo vial Floridablanca – Girón Centro<br>
              empresarial NATURA Torre 2 Oficina 228</p>

        </div>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="santa marta">

          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>SANTA MARTA</b>
              <p class="text-justify"> Tel: 317 367 2535 – 317 431 4595<br>
                Km. 15 vía alterna ruta del sol<br>
                ZEDE S.A.S. oficina 106</p>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="cucuta">
          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>CÚCUTA</b>
              <p class="text-justify"> Cel. 316 482 1563<br>
                Anillo vial oriental 3n 31 portal de bocono local 16</p>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="bogota">
          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>BOGOTÁ</b>
              <p class="text-justify"> Cel. 317 430 3506 – 317 648 6578<br>km3.8 vía Funza Siberia municipio de Funza
                parque industrial el trébol local 7b</p>
          </div>
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="barranquilla">
          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>BARRANQUILLA</b>
              <p class="text-justify"> Tel: 317 431 3619 <br>
                Calle 4a #30-351 Ofic. 3<br>
                Frente a la sociedad portuaria.</p>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="cartagena">
          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>CARTAGENA</b>
              <p class="text-justify">  Cel: 318 349 3134<br>
                km 6 via mamonal, estacion de servicio las olas oficina 104</p>
          </div>
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="medellin">

          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>MEDELLIN</b>
              <p class="text-justify">  Cel. 317 668 3485<br>Carrera 48 # 47-50 Central mayorista de antioquia bloque 14 local 218 Itagüí.</p>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="buenaventura">

          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>BUENAVENTURA</b>
              <p class="text-justify">  Cel. 316 239 3405<br>km 12 vía alterna interna centracar–<br></p>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 btn-local" data-place="Duitama">

          <div class="col-xs-3">
              <img src="img/ubicacion.png" class="ubicacion" />
          </div>
          <div class="col-xs-9 back-gray">
              <b>DUITAMA</b>
              <p class="text-justify">  Cel. 320 382 4894<br> Carrera 42 # 17-50 oficina 203–<br></p>
          </div>
      </div>
    </div>


    <hr>
    <div class="row padding-bottom-30 padding-top-30 " style="margin:0;">
       <div class="col-md-4">
          <h1 class="fore-bluelight bold">CONTACTO</h1>
          <br />
          <img src="img/logo-final-02.png" class="img-responsive">
       </div>
      <div class="col-md-8" >

        <form  class="form-contact">
          <div class="col-md-12 margin-top-10 margin-top-10">
            <h5 class="{{alerta}}">{{msg}}</h5>
          </div>
          <div class="col-md-6 margin-top-10 margin-top-10">
            <div class="input-group forma">
              <span class="input-group-addon" id="basic-addon1">Nombre</span>
              <input type="text" class="form-control" placeholder="" ng-model="formaD.nombre" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-md-6 margin-top-10 margin-top-10">
            <div class="input-group forma">
                <span class="input-group-addon" id="basic-addon1">Correo</span>
                <input type="email" class="form-control" placeholder="" ng-blur="validar($event)" ng-model="formaD.ema" aria-describedby="basic-addon1">
              <i class="fa fa-{{msgemail}}" ng-class="alertemail"></i>
            </div>
          </div>
          <div class="col-md-12 margin-top-10 margin-top-10">
            <div class="input-group forma">
                <span class="input-group-addon" id="basic-addon1">Asunto</span>
                <input type="text" class="form-control" placeholder="" ng-model="formaD.asunto" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-md-12 margin-top-10 margin-top-10">
            <div class="formatext">
              <textarea ng-model="formaD.comentario"></textarea>
            </div>
          </div>
          <div class="col-md-6 margin-top-10 margin-top-10">
            <input type="checkbox" ng-model="formaD.terminos" required />
            <a data-toggle="modal" data-target="#terminos" class="no-a"> Acepto términos y condiciones</a>
          </div>
          <div class="col-md-6 margin-top-10 margin-top-10 text-right">
            <button type="button" class="btn btn-azul-neutro" ng-click="enviar()">ENVIAR</button>
          </div>
        </form>

        <br>
      </div>
    </div>



  </div>

</div>



<!-- Modal -->
<div id="terminos" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:100px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Politicas de privacidad y protección de datos</h5>
        <h5 class="modal-title">LEY DE PROTECCIÓN DE DATOS PERSONALES</h5>
      </div>
      <div class="modal-body">
        <p>En cumplimiento con la Ley 1581 y su Decreto Reglamentario 1377 de 2013,
          Transolicar S.A.S, informa a sus empleados, clientes, proveedores, inscritos,
          y a la comunidad en general, que la compañía cuenta con una base de datos
          en la cual almacena y recolecta datos con el fin informar sucesos importantes
          de nuestra compañía y crear una relación más eficiente con ustedes nuestros clientes.</p>
        <p>De conformidad con la normatividad antes mencionada, usted está en derecho de conocer,
          actualizar y solicitar la rectificación o eliminación de la información que tenemos
          en nuestra base de datos como los es: Nombre, cargo, dirección, empresa, teléfono
          y correo electrónico, para lo cual podrá enviar una comunicación escrita al correo
          contacto@transolicar.com después de leer esta información.</p>
        <p>En caso de que no se reciba dicha comunicación, está aceptando que Transolicar S.A.S use sus datos
          registrados para almacenar, usar, circular, suprimir, agrupar, actualizar y disponer
          de los mismos en nuestra base de datos sin perjuicios de su facultad de ejercer
          en cualquier momento sus derechos.</p>
        <p>Siéntase en la libertad de solicitar cualquier información, cuenta con nuestro apoyo
          y acompañamiento para cumplir sus retos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="localidad" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
