<!DOCTYPE html>
<footer class="relative">
    <section class="gray">

        <div class="container">


              <div class ="row margin-top-10" >
        <div class="col-md-4 col-sm-4 text-center fore-white">
            <img  src="img/logo.png" class="img-responsive center-block img-footer" alt="logo"/>
        </div>
        <div class="col-md-4 col-sm-4 text-center fore-white margin-top-10"><br>
           <a href="mailto:contacto@transolicar.com" class="fore-white margin-top-10 mano"><img  src="img/email.png" style="width: 50px;filter: brightness(100);"/>contacto@transolicar.com</a>
        </div>
        <div class="col-md-4 col-sm-4 text-center fore-white margin-top-10"><br>
             <a href="tel:+573173662492" class="fore-white margin-top-10 mano"><img  src="img/telefono.png" style="width: 50px; filter: brightness(100);"/>+(7) 6915342 - 317 437 5730</a>
        </div>
        <div class="col-md-3 col-sm-6 text-center fore-white">
           <!-- <a href="tel:+522227639786"><img  src="img/whatsapp.png" class="img-responsive center-block img-footer" alt="+52 222 763 9786"/></a>   -->
        </div>
    </div>

        </div>
      
</section>

<section class=" blue fore-white">

        <div class="container">

    <div class="row">

         <div class="col-md-6 text-md-left text-xs-center text-sm-center fore-white">
             &copy; 2017 Todos los derechos reservados TRANSOLICAR
         </div>
         <div class="col-md-6 text-md-right text-xs-center text-sm-center">
             <a href="http://creamosimpacto.com/" target="_blank" class="fore-white">
                 <img class="brand-ig" src="img/logo_imagen.png" alt="" style="width: 30px;" />
                 Diseño y Desarrollo ImagenGroup
             </a>

         </div>

    </div>
      </div>
 </section>

</footer>
