<!DOCTYPE html>
<div class="section relative">
    <h2 class="text-center">Síguenos en Instagram</h2>
        {{msg}}
        <div class="row">
         <div class="col-md-2 col-sm-3 col-xs-4 padding0 postinsta" ng-show="$index < 6" ng-repeat="post in _recents" style="background:url({{post.display}}) center center no-repeat; background-size:cover; height:200px" ng-click="openurl($index)">
               <div class="hover-shadow">{{post.caption}}</div>
        </div>    
        </div>
       
    <a href="https://www.instagram.com/transolicarsas/" target="_blank" class="ver_mas-btn">Ver más</a>
    </div>
    <a class="wap" href="https://wa.me/573174375730" title="Escríbenos" target="_blank"><img src="img/whatsapp.png" width="50px"></a>
<footer class="relative">
    <section class="back-bluelight fore-white">
        <br />
            <div class="row">
                <div class="col-md-4 text-right">
                    <h3>WWW.TRANSOLICAR.COM</h3>
                    Km2 anillo vial centro empresarial natura torre 2 of.228
                    <br/>Tel: +(7) 6915342 - 3174375730<br />
                    E-mail: <a href="mailto:contacto@transolicar.com" class="fore-white">contacto@transolicar.com</a>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/1.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/2.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/3.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/4.png" class="img-responsive center-block" />
                    </div>
                </div>
                <div class="col-md-4">
                        <br /><br />
                    Todos los derechos reservados - Transolicar
                </div>
            </div>
            <br />
    </section>

</footer>
