<!DOCTYPE html>
<footer class="relative">
    <section class="back-bluelight fore-white">
        <br />
            <div class="row">
                <div class="col-md-4 text-right">
                    <h3>WWW.TRANSOLICAR.COM</h3>
                    Km2 anillo vial centro empresarial natura torre 1 of.202
                    <br/>Tel: +(7) 6915342 - 3174375730<br />
                    E-mail: <a href="mailto:contacto@transolicar.com" class="fore-white">contacto@transolicar.com</a>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/1.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/2.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/3.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-md-3">
                            <br />
                        <img src="img/certificaciones/4.png" class="img-responsive center-block" />
                    </div>
                </div>
                <div class="col-md-4">
                        <br /><br />
                    Todos los derechos reservados - Transolicar
                </div>
            </div>
            <br />
    </section>

</footer>