<section id="nosotros" class="blue">
	
	<div class="container">
		
		<div class="row">
		
			<div class="col-md-6">
				<div class="row">
					
					<div class="col-md-10 col-sm-10 col-xs-10">
					
						<h1 class="fore-white oswald">{{tab_titulo}}</h1>
<br>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
					
						<img src="img/tab-btn-{{tab}}.png" class="text-right" style="width: 50px; margin-top: 30px; cursor:pointer;" ng-click="change_tab()"/>
					<br>
					</div>

				</div>

				<div class="row">
					
					<div class="col-md-12" ng-bind-html="tab_texto">
					
						

					</div>
					

				</div>
				
				

				
			</div>
			<div class="col-md-6">
		
				<div class="row">
					
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="img/responsabilidad.png" class="img-responsive" />
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="img/sostenibilidad.png" class="img-responsive" />
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="img/equidad.png" class="img-responsive" />
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="img/compromiso.png" class="img-responsive" />
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="img/integridad.png" class="img-responsive" />
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img src="img/actitud.png" class="img-responsive" />
					</div>

				</div>

			</div>
		
		</div>

	</div>

</section>