<!-- Modal -->
<style type="text/css">
  
.badge{
  
    background: none;
    padding: 0;
    margin-top: -5px;

}

</style>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Políticas</h4>
      </div>
      <div class="modal-body">
        <p>Descarga a continuación nuestras políticas.</p>
       <div class="list-group">
          <a href="archivos/politica_integral.pdf" download="politica_integral.pdf" target="_blank" class="list-group-item">Política Integral<span class="badge"><i class="glyphicon glyphicon-save"></i></span></a>
          <a href="archivos/politica_seguridad_vial.pdf" download="politica_seguridad_vial.pdf" target="_blank"  class="list-group-item">Política de Seguridad Vial<span class="badge"><i class="glyphicon glyphicon-save"></i></span></a>
          <a href="archivos/politica_tratamiento_datos_personales.pdf" download="politica_tratamiento_datos_personales.pdf" target="_blank"  class="list-group-item">Política de Tratamiento de Datos Personales <span class="badge"><i class="glyphicon glyphicon-save"></i></span></a>
<a href="archivos/politica_del_sistema_integral_de_prevencion_y_control_del_riesgo_de_lavado_de_activos_y_financiacion_del_terrorismo.pdf" download="politica_del_sistema_integral_de_prevencion_y_control_del_riesgo_de_lavado_de_activos_y_financiacion_del_terrorismo.pdf" target="_blank"  class="list-group-item">Política del sistema integral de prevención y control del riesgo de lavado de activos y financiación del terrorismo<span class="badge"><i class="glyphicon glyphicon-save"></i></span></a>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>