<section>
	<div class="container">
		<hr class="separator">
		</div>
		</section>
		<section id="servicios" >
			<div class="container">
					<h1 class="fore-bluelight oswald bold">SERVICIOS</h1>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<img src="img/servicio1.jpg" class="img-responsive sombra">
					</div>
					<div class="col-md-6">
						<h2 class="fore-bluelight oswald bold">TRANSPORTE TERRESTRE DE CARGA SECA</h1>
						<p>La empresa cuenta con los vehículos acondicionados para el transporte de carga seca en todo el País</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<img src="img/servicio3.jpg" class="img-responsive sombra">
					</div>
					<div class="col-md-6">
						<h2 class="fore-bluelight oswald bold">TRANSPORTE TERRESTRE DE CONTENEDORES</h1>
						<p>Brindamos el servicio de transporte de contenedores desde los principales puertos del país hacia el interior y desde el interior hasta los principales puertos de Colombia.</p>
					</div>
				</div>
			</div>

	</div>


</section>
