<section id="servicios" class="texture" >
	
  <img src="img/servicios.png" class="img-responsive img-max-60 right-block">

	<div class="container">
		
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<img src="img/carga_seca.jpg" class="img-responsive sombra">
					</div>
					<div class="col-md-6">
						<h2 class="fore-blue">TRANSPORTE TERRESTRE DE CARGA SECA</h1>
						<p>La empresa cuenta con los vehículos acondicionados para el transporte de carga seca en todo el País</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<img src="img/carga_contenedor.jpg" class="img-responsive sombra">
					</div>
					<div class="col-md-6">
						<h2 class="fore-blue">TRANSPORTE TERRESTRE DE CONTENEDORES</h1>
						<p>Brindamos el servicio de transporte de contenedores desde los principales puertos del país hacia el interior y desde el interior hasta los principales puertos de Colombia.</p>
					</div>
				</div>
			</div>

	</div>


</section>